<style>
.bridge {
  position: relative;
  z-index: 99;
  font-family: 'Open Sans', sans-serif;;
}
.bridge-back {
  width: 100px;
  padding-top: 5px;
  padding-bottom: 5px;
  text-align: center;
  color: #000;
  text-transform: uppercase;
  font-weight: 600;
  margin-left: 30px;
  margin-bottom: 30px;
  cursor: pointer;
  display: inline-block;
  position: fixed;
  z-index: 999;
  top: 23px;
  left: -5px;
}

.bridge-accent {
  background: linear-gradient(300deg, rgba(240,147,251,1) 0%,   rgba(245,87,108,1) 100%);
  border-radius: 100px;
  -webkit-transition: all .15s ease-in-out;
  transition: all .15s ease-in-out;
  color: #fff;
}
.bridge-accent:hover {
  filter: drop-shadow(0 5px 5px rgb(0,0,0,0.5));
  transform: translate(0px, -2px);
}
</style>


<div class="bridge">
  <a href="{% url 'bridge:bridge' %}"><div class="bridge-back bridge-accent">← Back</div></a>
</div>


<script>
var prevScrollpos = window.pageYOffset;
window.onscroll = function() {
  var currentScrollPos = window.pageYOffset;
  if (prevScrollpos > currentScrollPos) {
    document.getElementsByClassName("bridge-back")[0].style.top = "30px";
  } else {
    document.getElementsByClassName("bridge-back")[0].style.top = "-60px";
  }
  prevScrollpos = currentScrollPos;
}
</script>