{% load static %}

  {% block head %}
  <title>EVENTZ</title>
  <meta name="description" content="Events around you">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <meta property="og:title" content="EVENTZ">
  <meta property="og:type" content="website">
  <meta property="og:site_name" content="EVENTZ">

  <link rel="icon" type="image/x-icon" href="{% static 'img/man.svg' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'css/normalize.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'css/jadwalku.css' %}">
  <link href="https://fonts.googleapis.com/css2?family=Rock+Salt&family=Open+Sans&display=swap" rel="stylesheet">
  {% endblock head %}

  {% block script %}
  <script src="https://kit.fontawesome.com/31c83bd84a.js" crossorigin="anonymous"></script>
  {% endblock script %}

  {% block main %}
    <div class="grid grid-card">
      <div class="grid-cell">
        <nav class="header-nav">
          <a class="header-logo toggle-dark-mode" title="EVENTZ">EVENTZ</a>
        </nav>
        
        <div class ="canvas">
            <div class="tambah-jadwal">
                <a href="{% url 'main:event-add' %}"><div class="round-button button-accent">+ Jadwal Baru</div></a>
            </div>

            <div class="deck">
                <div class="deck-grid">
                    <ul>
                      {% for event in events %}
                        <a href="{% url 'main:event-detail' event.id %}">
                          <li>
                              <h1>{{ event.nama }}</h1>
                              <code class="small">{{ event.tanggal }}</code> </br>
                              <code class="small">{{ event.lokasi }}</code>

                              {% if 0 < event.peserta.count <= 3 %} 
                                <p>
                                {{ event.peserta.count }} peserta:</br>
                                {% for peserta in event.peserta.all|slice:"::-1"|slice:":3" %}
                                 - {{ peserta.nama }}</br>
                                {% endfor %}
                                </p>
                              {% endif %}

                              {% if event.peserta.count > 3 %}
                              <p>
                                  dan lainnya ...
                              </p>
                              {% endif %}
                          </li>
                        </a>  
                      {% endfor %}
                    </ul>
                </div>
            </div>

        </div>

        <footer class="footer">
          <p>
            © 2020 Dennis A. Walangadi
          </p>
        </footer>
      </div>
    </div>

    <script type="text/javascript" src="{% static 'js/scripts.js' %}"></script>
  {% endblock main %}
  