{% load static %}
{% load crispy_forms_tags %}

  {% block head %}
  <title>EVENTZ</title>
  <meta name="description" content="Events around you">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <meta property="og:title" content="EVENTZ">
  <meta property="og:type" content="website">
  <meta property="og:site_name" content="EVENTZ">

  <link rel="icon" type="image/x-icon" href="{% static 'img/man.svg' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'css/normalize.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'css/jadwalku.css' %}">
  <link href="https://fonts.googleapis.com/css2?family=Rock+Salt&family=Open+Sans&display=swap" rel="stylesheet">
  {% endblock head %}

  {% block script %}
  <script src="https://kit.fontawesome.com/31c83bd84a.js" crossorigin="anonymous"></script>
  {% endblock script %}

  {% block main %}
    <div class="grid grid-centered">
      <div class="grid-cell">
        <nav class="header-nav">
          <a class="header-logo toggle-dark-mode" title="EVENTZ">EVENTZ</a>
        </nav>

        <div class="canvas">

          <form method="POST">
            {% csrf_token %}
            {{ form|crispy }}
            <br>
            <button type="submit">Submit</button>
          </form>

        </div>

        <footer class="footer">
          <p>
            © 2020 Dennis A. Walangadi
          </p>
        </footer>
      </div>
    </div>

    <script type="text/javascript" src="{% static 'js/scripts.js' %}"></script>
  {% endblock main %}
  