*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    font-size: 16px;
}

body {
    margin: 0 auto;
    font-family: 'Open Sans', sans-serif;
    -webkit-font-smoothing: antialiased;
    font-weight: 400;
    line-height: 1.8;
    color: #615b5b;
    background: #fff;
}

p {
    margin: 0;
    font-weight: 400;
}

b,
strong {
    font-weight: 700;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 0;
    line-height: 1.5;
    letter-spacing: 0.01em;
    text-rendering: optimizeLegibility;
}

h1 {
    font-size: 35.2px;
    font-weight: 400;
    letter-spacing: -.03em;
    color: #121111;
}

h2 {
    font-size: 33px;
    font-weight: 400;
}

h3 {
    font-size: 28.6px;
    font-weight: 500;
}

h4 {
    font-size: 24.2px;
    font-weight: 500;
}

h5 {
    font-size: 25.74px;
    font-weight: 500;
}

h6 {
    font-size: 22px;
}

@media all and (max-width: 767px) {
    h1 {
        font-size: 33px;
    }

    h2 {
        font-size: 29.7px;
    }

    h3 {
        font-size: 27.5px;
    }
}

a {
    color: #615b5b;
    text-decoration: underline;
    transition: color 0.2s linear;
}

a:hover,
a:active {
    color: #393636;
}

a:focus {
    color: #393636;
    outline: none;
}

svg {
    transition: fill 0.2s linear;
}

ul,
ol {
    padding-left: 40px;
    margin: 0;
}

img {
    display: block;
    max-width: 100%;
    margin: 0px 0px 25px;
}

::-moz-selection {
    color: #fff;
    background-color: #121111;
}

::selection {
    color: #fff;
    background-color: #121111;
}

.footer {
    display: block;
    padding-top: 35px;
    margin-bottom: 50px;
    border-top: 1px solid #ebeaea;
}

.footer p {
    font-size: 15px;
    color: #ada8a8;
    text-align: center;
}

.footer a {
    text-decoration: none;
}

.grid {
    display: block;
    padding: 0;
    margin: 0 -20px;
    font-size: 0;
    text-align: left;
}

th {
    text-align: left;
}

.grid-cell {
    display: inline-block;
    width: 100%;
    padding: 0 20px;
    margin: 0;
    font-size: 16px;
    text-align: left;
    vertical-align: top;
}

.grid-cell.with-1col {
    width: 8.3333333333%;
}

.grid-cell.with-2col {
    width: 16.6666666667%;
}

.grid-cell.with-3col {
    width: 25%;
}

.grid-cell.with-4col {
    width: 33.3333333333%;
}

.grid-cell.with-5col {
    width: 41.6666666667%;
}

.grid-cell.with-6col {
    width: 50%;
}

.grid-cell.with-7col {
    width: 58.3333333333%;
}

.grid-cell.with-8col {
    width: 66.6666666667%;
}

.grid-cell.with-9col {
    width: 75%;
}

.grid-cell.with-10col {
    width: 83.3333333333%;
}

.grid-cell.with-11col {
    width: 91.6666666667%;
}

.grid-cell.with-1off {
    margin-left: 8.3333333333%;
}

.grid-cell.with-2off {
    margin-left: 16.6666666667%;
}

.grid-cell.with-3off {
    margin-left: 25%;
}

.grid-cell.with-4off {
    margin-left: 33.3333333333%;
}

.grid-cell.with-5off {
    margin-left: 41.6666666667%;
}

.grid-cell.with-6off {
    margin-left: 50%;
}

.grid-cell.with-7off {
    margin-left: 58.3333333333%;
}

.grid-cell.with-8off {
    margin-left: 66.6666666667%;
}

.grid-cell.with-9off {
    margin-left: 75%;
}

.grid-cell.with-10off {
    margin-left: 83.3333333333%;
}

.grid-cell.with-11off {
    margin-left: 91.6666666667%;
}

.grid-cell.is-centered {
    text-align: center;
}

.grid-cell.is-right {
    text-align: right;
}

.grid-cell.is-top {
    vertical-align: top;
}

.grid-cell.is-middle {
    vertical-align: middle;
}

.grid-cell.is-bottom {
    vertical-align: bottom;
}

.grid-centered {
    max-width: 650px;
    margin-right: auto;
    margin-left: auto;
}

.grid-card {
    max-width: 90%;
    margin-right: auto;
    margin-left: auto;
}

@media all and (max-width: 767px) {
    .grid-cell.with-1col {
        width: 100%;
    }

    .grid-cell.with-1off {
        margin-left: 0;
    }

    .grid-cell.with-2col {
        width: 100%;
    }

    .grid-cell.with-2off {
        margin-left: 0;
    }

    .grid-cell.with-3col {
        width: 100%;
    }

    .grid-cell.with-3off {
        margin-left: 0;
    }

    .grid-cell.with-4col {
        width: 100%;
    }

    .grid-cell.with-4off {
        margin-left: 0;
    }

    .grid-cell.with-5col {
        width: 100%;
    }

    .grid-cell.with-5off {
        margin-left: 0;
    }

    .grid-cell.with-6col {
        width: 100%;
    }

    .grid-cell.with-6off {
        margin-left: 0;
    }

    .grid-cell.with-7col {
        width: 100%;
    }

    .grid-cell.with-7off {
        margin-left: 0;
    }

    .grid-cell.with-8col {
        width: 100%;
    }

    .grid-cell.with-8off {
        margin-left: 0;
    }

    .grid-cell.with-9col {
        width: 100%;
    }

    .grid-cell.with-9off {
        margin-left: 0;
    }

    .grid-cell.with-10col {
        width: 100%;
    }

    .grid-cell.with-10off {
        margin-left: 0;
    }

    .grid-cell.with-11col {
        width: 100%;
    }

    .grid-cell.with-11off {
        margin-left: 0;
    }
}

.canvas {
    padding: 50px 0;
}

.canvas h1 {
    margin: 25px 0 10px;
}

.embed-responsive {
    position: relative;
    display: block;
    height: 0;
    padding: 0;
    padding-bottom: 75%;
    margin-bottom: 30px;
    overflow: hidden;
}

.embed-responsive iframe,
.embed-responsive embed,
.embed-responsive object,
.embed-responsive video {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
}

.embed-responsive-16by9 {
    padding-bottom: 56.25%;
}

.header-nav {
    display: block;
    padding: 75px 0 20px;
    border-bottom: 1px solid #ebeaea;
    text-align: center;
}

.header-logo {
    display: inline-block;
    font-family: 'Rock Salt', cursive;
    font-size: 36px;
    font-weight: 700;
    color: #000;
    text-decoration: none;
}

.header-links {
    padding: 0;
    margin: 15px 0 0;
    list-style: none;
    text-align: center;
}

.header-links li {
    display: inline-block;
    margin-left: 20px;
    vertical-align: middle;
}

.header-links li:first-child {
    margin-left: 0;
}

.header-links li a {
    font-size: 25px;
    color: #393636;
    cursor: pointer;
}

.header-links li a svg {
    width: 32px;
    height: 32px;
    fill: #393636;
}

.header-links li a:hover svg {
    fill: #121111;
}

.header-tags {
    padding: 0;
    margin: 30px 0 0;
    list-style: none;
}

.header-tags li {
    display: inline-block;
    padding-right: 10px;
}

.header-tags li a {
    display: inline-block;
    color: #393636;
    text-decoration: none;
}

.header-tags li a:hover {
    color: #121111;
}

@media all and (max-width: 520px) {
    .header-nav {
        text-align: center;
    }

    .header-links {
        display: block;
        float: none;
        text-align: center;
    }

    .header-links li {
        margin: 0 10px;
    }

    .header-links li:last-child {
        margin-right: 0;
    }

    .header-tags {
        margin: 20px 0 0;
        text-align: center;
    }

    .header-tags li {
        padding: 0 5px;
    }
}

@media all and (max-width: 767px) {
    .highlight {
        padding: 25px;
        font-size: 14px;
    }
}

tbody {
    vertical-align: baseline;
}

.tambah-jadwal {
    display: block;
    text-align: center;
    margin-bottom: 20px;
}

.deck-grid {
    font-size: 30px;
    display: inline-flex;
    align-items: center;
    text-decoration: none;
    justify-content: flex-start;
    flex: 70%;
}

.deck-grid li {
    width: 270px;
    height: fit-content;
    list-style-type: none;
    margin: 10px 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    float: left;
    padding: 2px 16px;
    padding-bottom: 30px;
    border-radius: 5px;
}
.deck-grid p {
    font-size: 15px;
}

.small {
    font-size: 15px;
    font-style: italic;
}

.deck-grid li:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  transform: translate(0, -2px);
}

.deck {
    margin: auto;
    display: flex;
    padding-top: 5px;
    padding-bottom: 5px;
}

.round-button {
    width: 150px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    text-align: center;
    color: #000;
    text-transform: uppercase;
    font-weight: 600;
    cursor: pointer;
    display: inline-block;
}

.button-accent {
    background: black;
    border-radius: 100px;
    -webkit-transition: all .15s ease-in-out;
    transition: all .15s ease-in-out;
    color: #fff;
}

.button-accent:hover {
    filter: drop-shadow(0 5px 5px rgb(0, 0, 0, 0.5));
    transform: translate(0px, -2px);
}

.join {
    background-color: green;
}
